@import "src/common-styles/_colors";

.referral {
  width: 100%;

  .request {
    width: 70%;
    margin: 50px auto;
    border: 1px solid $dark-blue;
    padding: 30px;

    .filters {
      display: flex;
      gap: 24px;
      margin-top: 30px;

      input {
        width: 309px;
        height: 24px;
        background: #FFFFFF;
        border: 1px solid #0033A0;
        font-size: 12px;
        padding: 5px;
        margin-top: 10px;
      }

      button {
        height: 38px;
        color: white;
        padding: 5px;
        font-size: 16px;
        background: $dark-blue;
        border: 0;
        border-radius: 2px;
        width: 200px;
        cursor: pointer;
        align-self: flex-end;
      }
    }

    table {
      margin-top: 30px;
      border-collapse: collapse;
      width: 100%;
      th {
        font-size: 20px;
        font-weight: normal;
        padding: 20px;
        text-align: start;
        border: 1px solid $dark-blue;
      }
      td {
        border: 1px solid $dark-blue;
        padding: 20px;
      }
      button {
        width: 72px;
        height: 24px;
        background: #FBBC05;
        border-radius: 6px;
        border: 0;
      }
    }
  }

  .past {
    width: 74%;
    margin: 50px auto;

    table {
      margin-top: 30px;
      border-collapse: collapse;
      width: 100%;
      th {
        font-size: 20px;
        font-weight: normal;
        padding: 20px;
        text-align: start;
        border: 1px solid $dark-blue;
      }
      td {
        border: 1px solid $dark-blue;
        padding: 20px;
      }
      .status {
        width: 72px;
        height: 24px;
        border-radius: 6px;
        border: 0;
      }
    }
  }
}